@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #f8f4f4;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.main-top-bar-container {
  height: 10vh;
  width: 100vw;
  background-color: #e1115a;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;

  padding-left: 0.5vh;
}

.roommate-logo-image-container {
  width: 9vh;
  height: 9vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.roommate-logo-image {
  width: 8vh;
  height: 8vh;

  transition:
    width 90ms ease-out,
    height 90ms ease-out;
}

.roommate-logo-image:hover {
  width: 9vh;
  height: 9vh;

  cursor: pointer;
}
.roommate-logo-image:active {
  width: 7.5vh;
  height: 7.5vh;

  cursor: pointer;
}

.main-top-bar-button {
  color: #f8f4f4;
  text-decoration: none;

  font-family: "Press Start 2P", monospace;
  letter-spacing: 1vh;
  font-weight: bold;
  font-size: 2vh;

  transition: color 90ms ease-out;
}
.main-top-bar-button:hover {
  color: #053106;

  cursor: pointer;
}
.main-top-bar-button:active {
  color: #667278;

  cursor: pointer;
}

.active-main-top-bar-button {
  background-color: #8d0031;
}

.after-main-top-bar-full-filler {
  height: 90vh;
  width: 100vw;
  background-color: #f8f4f4;
}

.index-main-area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.index-title {
  max-width: 60vw;
  min-height: 8vh;

  font-family: "Press Start 2P", monospace;
  letter-spacing: 0.4vh;
  font-weight: lighter;
  font-size: 1.8vh;
  color: #e1115a;

  margin-top: 20vh;
}

.index-my-description-container {
  width: 60vw;
  min-height: 20vh;

  margin-top: 2vh;

  background-color: #667278;

  padding: 2.5vh;
}

.index-my-description {
  font-family: "Press Start 2P", monospace;
  letter-spacing: 0.3vh;
  font-weight: lighter;
  font-size: 1.2vh;
  color: #f8f4f4;
  line-height: 2vh;
  text-indent: 2vh;
}
