@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.main-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #f8f4f4;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.main-top-bar-container {
  height: 10vh;
  width: 100vw;
  background-color: #e1115a;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;

  padding-left: 0.5vh;
}

.roommate-logo-image-container {
  width: 9vh;
  height: 9vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.roommate-logo-image {
  width: 8vh;
  height: 8vh;

  transition:
    width 90ms ease,
    height 90ms ease;
}

.roommate-logo-image:hover {
  width: 9vh;
  height: 9vh;

  cursor: pointer;
}
.roommate-logo-image:active {
  width: 7.5vh;
  height: 7.5vh;

  cursor: pointer;
}

.main-top-bar-text {
  color: #f8f4f4;
  text-decoration: none;

  font-family: "Silkscreen", monospace;
  letter-spacing: 0.1vh;
  font-weight: normal;
  font-size: 3.2vh;
}

.after-main-top-bar-full-filler {
  min-height: 90vh;
  width: 100vw;
  background-color: #f8f4f4;
}

.index-main-area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.index-my-description-container {
  width: 100vw;
  min-height: 20vh;

  background-color: #667278;

  padding: 3vh;
}

.index-my-description {
  font-family: "Silkscreen", monospace;
  letter-spacing: 0vh;
  font-weight: normal;
  font-size: 1.8vh;
  color: #f8f4f4;
  line-height: 1.9vh;

  text-align: justify;
}

.index-discord-container {
  width: 100vw;
  height: 11vh;
  padding: 2vh;

  background-color: #e0e3ff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3vh;

  transition: padding 300ms ease;
}
.index-discord-container:hover {
  padding-left: 4vh;
  cursor: pointer;
}
.index-discord-container:active {
  padding-left: 0.5vh;
  cursor: pointer;
}

.index-discord {
  width: 7vh;
  height: 7vh;
}

.index-discord-text {
  font-family: "Silkscreen", monospace;
  letter-spacing: 0vh;
  font-weight: bold;
  font-size: 2.4vh;
  color: #5865f2;
}

.index-youtube-container {
  width: 100vw;
  height: 11vh;
  padding: 2vh;

  background-color: #FFFFFF;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3vh;

  transition: padding 300ms ease;
}
.index-youtube-container:hover {
  padding-left: 4vh;
  cursor: pointer;
}
.index-youtube-container:active {
  padding-left: 0.5vh;
  cursor: pointer;
}

.index-youtube {
  width: 7vh;
  height: 7vh;
}

.index-youtube-text {
  font-family: "Silkscreen", monospace;
  letter-spacing: 0vh;
  font-weight: bold;
  font-size: 2.4vh;
  color: #212121;
}

.square-image-container {
  width: 30vw;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.square-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
